*{
    margin: 0;
    padding: 0;
}
.game-sq{
    width: 90%;
    height: 90vh;
    background-color: rgb(161, 241, 165);
    margin: 0 auto;
    margin-top: 40px;
    position: relative;
}
.game-sq__btn{
    --x: 0px;
    --y: 0px;
    width: 50px;
    height: 50px;
    background-color: rgb(22, 112, 10);
    border-radius: 50px;
    border: none;
    position: absolute;
    transform: translate(
        var(--x), var(--y)
    );
    transition: .3s ease transform, .3s ease opacity;
    cursor: pointer;
}
#gameover{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: .3s ease opacity;
    font-size: 40px;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
}
#start{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: .3s all;
    font-size: 40px;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    padding: 15px 30px;
    background-color: rgb(22, 112, 10);
    border: none;
    border-radius: 25px;
    color: white;
}
#start:hover{
    background-color: rgb(56, 189, 39);
    box-shadow: 100px;
}
.hidden{
    visibility: hidden;
    opacity: 0;
}
#count{
    position: absolute;
    bottom: 2%;
    right: 1%;
    /* border: 1px solid black; */
    width: 5%;
    height: 5%;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    color: rgb(20, 90, 11);
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
}
#new-game{
    position: absolute;
    left: 50%;
    top: 150%;
    transform: translateX(-50%);
    transition: .3s all;
    font-size: 20px;
    width: 90%;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
    padding: 15px 30px;
    background-color: rgb(22, 112, 10);
    border: none;
    border-radius: 25px;
    color: white;
}
#new-game:hover{
    background-color: rgb(56, 189, 39);
    box-shadow: 100px;
}